import org.hamcrest.Matcher;
import java.util.List;

public class {{class}} extends ValidatorBase<{{class}}>{
    public {{class}}() { super(); }
    public static {{class}} builder(){ return new {{class}}(); }

    @Override
    public {{class}} getThis() { return this; }


    {{#fields}}
    @SafeVarargs
    public final {{class}} {{.}}(Matcher<?>... matchers){
        this.matchers.get("{{.}}").addAll(List.of(matchers));
        return this;
    }
    {{/fields}}

}