import org.hamcrest.Matcher;
import java.util.List;

public class {{clazz}} extends ValidatorBase<{{clazz}}>{
    public {{clazz}}() { super(); }
    public static {{clazz}} builder(){ return new {{clazz}}(); }

    @Override
    public {{clazz}} getThis() { return this; }


    {{#funcs}}
    @SafeVarargs
    public final {{clazz}} {{fieldName}}(Matcher<? super {{matcherType}}>... matchers){
        this.matchers.get("{{.}}").addAll(List.of(matchers));
        return this;
    }
    {{/funcs}}

}